/* Afecta a toda la web */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{       
    width: 100%;
    height: 100%;
    background-color: whitesmoke; 
}
nav{
    height: 60px;
    background-color: #dff7e5;
    box-shadow: 1px 1px 5px #263238;
    box-sizing: border-box;
    min-width: max-content;
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}
nav img{
    margin-top: 8px;
    float: left;
    margin-right: 15px;
    margin-left: 20px;
    background-color: #dff7e5;
}
nav a{
    line-height: 60px;
    background-color: #dff7e5;
    border-radius: 10px;
    margin-top: 10px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: large;
    font-weight: bold;
    color: #263238;
}
nav a:hover{
    background-color: #92e3a9;
    color: whitesmoke;
    font-size: large;
    font-weight: bolder;
}
nav a:active{
    background-color: #65d083;
    color: whitesmoke;
    font-size: large;
    font-weight: bolder;
}
#modooscuro {
    padding: 0.3em;
    font-family: 'Roboto', sans-serif;
    font-size: large;
    font-weight: bolder;
    background-color: rgb(43, 44, 61);
    color: white;
    border-radius: 10px;
}
h1{
    font-size: 100px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-align: center;
    margin-top: 30px;
}
div.subtitulo{
    width: 910px;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
div.cajafooter{
    display: flex;
    width: fit-content;
    margin: auto;
    position: flex;
    bottom: 0;
    background: #dfdde2;
    border-radius: 30px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
}
div.texto{
    vertical-align: bottom;
    font-size: large;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
    color: #263238;
}
div.facebook{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-variant: small-caps;
    margin-left: 20px;
    font-weight: bold;
    object-fit: cover;
    transition: transform 0.4s;
}
div.facebook:hover{
    transform: scale(1.1);
}
div.twitter{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-variant: small-caps;
    margin-left: 20px;
    font-weight: bold;
    object-fit: cover;
    transition: transform 0.4s;
}
div.twitter:hover{
    transform: scale(1.1);
}
div.instagram{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-variant: small-caps;
    margin-left: 20px;
    font-weight: bold;
    object-fit: cover;
    transition: transform 0.4s;
}
div.instagram:hover{
    transform: scale(1.1);
}
div.linkedin{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-variant: small-caps;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: bold;
    object-fit: cover;
    transition: transform 0.4s;
}
div.linkedin:hover{
    transform: scale(1.1);
}
span.ese{
    font-size: 150px;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    color: #65d083;
}
span.punto{
    font-size: 150px;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    color: #65d083;
    margin-left: -40px;
}

/* Afecta a algunas páginas */
h2.seccion{
    margin-top: 70px;
    margin-bottom: -20px;
    text-align: center;
    font-size: 3em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #65d083;
    text-shadow: 2px 2px 2px #263238;
}
p.subseccion{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: justify;
}
.conocer{
    text-decoration: none;
    color: #1b1b1b;
    font-weight: bold;
}
.conocer:hover{
    color: #263238;
    text-transform: uppercase;
    lighting-color: #92e3a9;
} 

/* Afecta a la página Inicio */
div.caja1{
    width: 900px;
    border: 2px  #65d083;
    box-shadow: 2px 2px 16px #263238;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 70px;
    padding-right: 50px;
    text-align: justify;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    color: #1b1b1b;
}

/* Afecta a la página ¿Quiénes somos? */
h3{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-top: -20px;
    margin-bottom: 40px;
}
div.cajon{
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    width: 1100px;
    height: max-content;
}
div.cajon2{
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    width: 1100px;
    height: max-content;
}
div.cajita{
    width: 300px;
    height: 100%;
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 20px;
    box-shadow: 2px 2px 16px #263238;
    border-radius: 5px;
}
div.cajita2{
    width: 760px;
    height: 100%;
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 20px;
    box-shadow: 2px 2px 16px #263238;
    border-radius: 5px;
    object-fit: cover;
    transition: transform 0.8s;
}
img.imagenQS{
    width: 280px;
    height: 200px;
    min-width: 250px;
    margin-top: 10px;
}
.cajita2 img{
    margin-inline: 25px;
}
p.titulillo{
    text-transform: uppercase;
    font-family: 'Roboto';
    font-weight: bolder;
    text-decoration: overline underline;
    line-height: 25px;
    margin-top: 7px;
}
p.texto_contenido{
    font-family: 'Courier New', Courier, monospace;
    margin-left: 7px;
    margin-right: 7px;
    margin-top: 7px;
    text-align: justify;
}
iframe{
    margin-top: 10px;
}

/* Afecta a la página Productos */
table.tabla_productos{
    margin: auto;
    width: 700px;
    margin-bottom: 20px;
    border: 2px solid #263238;
    border-collapse: collapse;
}
th{
    border: 2px solid #263238;
    padding-left: 2px;    
    padding: 15px;
    background-color: #65d083;
    text-transform: uppercase;
    color: whitesmoke;
    font-family: 'Roboto';
}
td{
    border: 2px solid #263238;
    padding-left: 2px;
    padding: 15px;
    font-family: 'Courier New', Courier, monospace
}
.logo_app{
    width: 60px;
}
td.negrita{
    font-weight: bold;
    text-align: center;
}
td.descripcion{
    text-align: justify;
}
tr:nth-child(even){
    background-color: #e6e6e6;
}
tr:nth-child(odd){
    background-color: #daf2df;
}
div.texto_final{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: large;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Afecta a la página Servicios */
div.caja2{
    width: 900px;
    box-shadow: 2px 2px 16px #263238;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 70px;
    padding-right: 50px;
    text-align: justify;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    color: #1b1b1b;
}
div.caja3{
    width: 900px;
    box-shadow: 2px 2px 16px #263238;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 70px;
    padding-left: 50px;
    text-align: justify;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    color: #1b1b1b;
}
div.aumento{
    object-fit: cover;
    transition: transform 0.7s;
}
div.aumento:hover{
    transform: scale(1.2);
}
span.titulo_caja2{
    font-weight: bolder;
    text-decoration: underline;
}

/* Afecta a la página Contacto y Trabaja con nosotros */
div.caja4{
    width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 70px;
    padding-left: 50px;
    text-align: justify;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    color: #1b1b1b;
}
span.subrayado{
    text-decoration: underline;
}
p.negrita{
    text-decoration: underline;
}
li{
    list-style-type: square;
    margin-left: 1em;
}
div.caja5{
    width: 900px;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 70px;
}
.caja5 img{
    margin: auto;
}
div.caja_formulario{
    width: 450px;
    height: 670px;
    display: flex;
    justify-content: center;
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
    border: 3px;
    box-shadow: 2px 2px 16px #263238;
    border-radius: 5px;
    line-height: 1.5;
} 
legend{
    font-family: 'Roboto', sans-serif;
    font-size: large;
    font-weight: bolder;
    text-decoration: overline;
    text-transform: uppercase;
}
div.texto_final2{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    margin-bottom: 20px;
    line-height: 1.5;
}
div.caja_formulario2{
    width: 600px;
    height: 1000px;
    display: flex;
    justify-content: center;
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
    border: 3px;
    box-shadow: 2px 2px 16px #263238;
    border-radius: 5px;
    line-height: 1.5;
}